@use '../helpers' as *;

/* Base Common */
html {
  font-size: 62.5%;
}
body {
  color: $text1;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: $fontOpen;
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
  font-family: $fontOpen;
}