// images
$img-path: '@/assets/img';

// font
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;

$fontOpen:'Open sans', sans-serif;
$fontCata:'Catamaran', sans-serif;

// color
// grayscale
$white: #fff;
$grayeee: #eee;
$grayddd: #ddd;
$grayccc: #ccc;
$graybbb: #bbb;
$grayaaa: #aaa;
$gray999: #999;
$gray666: #666;
$gray555: #555;
$gray333: #333;
$gray111: #111;
$black: #000;
 
// primary
$primary1: #2E3192;
$primary2: #488be2;

// sub
// $secondary1: #FDEAEA;

// background
$bg1: #EEF7FF;
$bg2: #FDEAEA; 

// text
$text1: #8A8A8A;
$text2: #1E2D78;
$text3:#DD3333;
$text4: #F4572E; 
 
// media query
// $breakpoint-mobile: 480px;
// $breakpoint-tablet: 1024px;
// $breakpoint-desktop: 1200px;