// images
$img-path: "@/assets/img";

// font
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;

$fontOpen: "Open sans", sans-serif;
$fontCata: "Catamaran", sans-serif;

// color
// grayscale
$white: #fff;
$grayeee: #eee;
$grayddd: #ddd;
$grayccc: #ccc;
$graybbb: #bbb;
$grayaaa: #aaa;
$gray999: #999;
$gray666: #666;
$gray555: #555;
$gray333: #333;
$gray111: #111;
$black: #000;

// primary
$primary1: #2e3192;
$primary2: #488be2;

// sub
$secondary1: #f4572e;

// background
$bg1: #eef7ff;
$bg2: #fdeaea;

// text
$text1: #8a8a8a;
$text2: #1e2d78;
$text3: #dd3333;
$text4: #f4572e;
$text5: #656565;

// line
$line1: $secondary1;

//border
$border1: $grayddd;

// media query
// $breakpoint-mobile: 480px;
// $breakpoint-tablet: 1024px;
// $breakpoint-desktop: 1200px;
