/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:active,
a:focus,
button {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}

textarea {
  display: block;
  font-family: inherit;
}

/* Base Common */
html {
  font-size: 62.5%;
}

body {
  color: #8A8A8A;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Open sans", sans-serif;
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
  font-family: "Open sans", sans-serif;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OpenSans/OpenSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Catamaran/Catamaran-Regular.woff") format("woff");
}
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Catamaran/Catamaran-Medium.woff") format("woff");
}
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Catamaran/Catamaran-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Catamaran/Catamaran-Bold.woff") format("woff");
}
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.6rem;
  white-space: nowrap;
}
.btn-primary {
  padding: 0 5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #2E3192;
  color: #fff;
}
.btn-white {
  padding: 0 5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #fff;
  color: #1E2D78;
}

/* layout *//*# sourceMappingURL=style.css.map */