/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:active,
a:focus,
button {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}

textarea {
  display: block;
  font-family: inherit;
}

/* Base Common */
html {
  font-size: 62.5%;
}

body {
  color: #8a8a8a;
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: "Open sans", sans-serif;
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
  font-family: "Open sans", sans-serif;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OpenSans/OpenSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Catamaran/Catamaran-Regular.woff") format("woff");
}
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Catamaran/Catamaran-Medium.woff") format("woff");
}
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Catamaran/Catamaran-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Catamaran/Catamaran-Bold.woff") format("woff");
}
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.6rem;
  white-space: nowrap;
}
.btn-primary {
  padding: 0 5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #2e3192;
  color: #fff;
}
.btn-white {
  padding: 0 5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #fff;
  color: #1e2d78;
}

a {
  color: #000;
}

/* layout */
.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 192rem;
  height: 10rem;
  padding: 0 3.2rem;
}
.header .gnb-pc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
.header .gnb-pc ul li {
  width: 11.7rem;
}
.header .gnb-pc ul li a {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 10rem;
  font-size: 1.4rem;
  text-align: center;
}
.header .gnb-pc ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: #f4572e;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .gnb-pc ul li a:hover::after {
  opacity: 1;
}
.header a,
.header .btn-search {
  color: #2e3192;
  letter-spacing: 0.26rem;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}
.header .utility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .utility .btn-search {
  font-size: 1.4rem;
  line-height: 10rem;
}
.header .btn-hamburger {
  display: none;
  width: 3.6rem;
  aspect-ratio: 1;
  background: url(./../images/ico_hamburger_primary.svg) no-repeat center/cover;
}
.header .moblie-menu {
  display: none;
  position: fixed;
  left: 100%;
  top: 0;
  width: 60%;
  height: 100vh;
  background-color: #eee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1000;
}
.header .moblie-menu .btn-mobile-menu-close {
  width: 3.6rem;
  margin: 3.2rem 2rem 2rem;
  aspect-ratio: 1;
  background: url(./../images/ico_close_primary.svg) no-repeat center/cover;
}
.header .moblie-menu .input-wrap {
  margin: 2rem;
}
.header .moblie-menu .gnb-m ul li a {
  display: block;
  padding: 2rem;
  font-size: 2rem;
  letter-spacing: 0.18rem;
}
.header .moblie-menu .gnb-m ul li:hover a {
  background-color: #eef7ff;
}
.header .moblie-menu.active {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media (width <= 1024px) {
  .header .gnb-pc {
    display: none;
  }
  .header .utility {
    margin-left: auto;
    margin-right: 1.2rem;
  }
  .header .utility .btn-search {
    line-height: 1;
    width: 2.4rem;
    aspect-ratio: 1;
    background: url(./../images/ico_search_primary.svg) no-repeat center/cover;
  }
  .header .utility .btn-search span {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .header .btn-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .moblie-menu {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */