@use "../helpers" as *;

a {
  color: $black;
}

/* layout */
// header
.header {
  position: fixed;
  inset: 0 0 0 0;
  width: 100%;
  height: 10rem;
  background-color: $white;
  z-index: 1000;
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 192rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    background-color: $white;
    .gnb-pc {
      ul {
        display: flex;
        gap: 2.8rem;
        li {
          width: 12.2rem;
          a {
            position: relative;
            display: inline-block;
            width: 100%;
            line-height: 10rem;
            font-size: 1.4rem;
            text-align: center;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 0.3rem;
              background-color: $secondary1;
              left: 0;
              bottom: 0;
              opacity: 0;
              transition: 0.3s;
            }
            &:hover::after {
              opacity: 1;
            }
          }
          &.active {
            a {
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    a,
    .btn-search {
      color: $primary1;
      letter-spacing: 0.26rem;
      font-weight: $fontSemiBold;
      box-sizing: border-box;
      text-transform: uppercase;
    }

    .utility {
      display: flex;
      .btn-search {
        position: relative;
        font-size: 1.4rem;
        line-height: 10rem;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 0.3rem;
          background-color: $secondary1;
          left: 0;
          bottom: 0;
          opacity: 0;
          transition: 0.3s;
        }
        &:hover::after {
          opacity: 1;
        }
      }
    }

    // 햄버거 버튼
    .btn-hamburger {
      display: none;
      width: 3.6rem;
      aspect-ratio: 1;
      background: url(./../images/ico_hamburger_primary.svg) no-repeat
        center/cover;
    }

    // 모바일 사이드 메뉴
    .moblie-menu {
      display: none;
      position: fixed;
      left: 100%;
      top: 0;
      width: 60%;
      height: 100vh;
      background-color: $grayeee;
      transition: 0.3s;
      z-index: 1000;

      .btn-mobile-menu-close {
        width: 3.6rem;
        margin: 3.2rem 2rem 2rem;
        aspect-ratio: 1;
        background: url(./../images/ico_close_primary.svg) no-repeat
          center/cover;
      }

      .input-wrap {
        margin: 2rem;
      }

      .gnb-m {
        ul {
          li {
            a {
              display: block;
              padding: 2rem;
              font-size: 2rem;
              letter-spacing: 0.18rem;
            }
            &:hover {
              a {
                background-color: $bg1;
              }
            }
            &.active {
              a {
                background-color: $bg1;
              }
            }
          }
        }
      }
      &.active {
        box-shadow: 0 4px 8px rgba($color: $black, $alpha: 0.2);
        transform: translateX(-100%);
      }
    }
  }
  // 반응형 미디어 쿼리
  @media (width < 1024px) {
    height: 8rem;
    .header-inner {
      height: 100%;
      padding: 0 2rem;

      .gnb-pc {
        display: none;
      }
      .utility {
        margin-left: auto;
        margin-right: 1.2rem;
        .btn-search {
          line-height: 1;
          width: 2.4rem;
          aspect-ratio: 1;
          background: url(./../images/ico_search_primary.svg) no-repeat
            center/cover;
          span {
            @include a11y-hidden;
          }
          &::after {
            display: none;
          }
        }
      }
      .btn-hamburger {
        display: flex;
      }
      .moblie-menu {
        display: block;
      }
    }
  }

  @media (width < 768px) {
    .header-inner {
      .moblie-menu {
        display: block;
        width: 100%;
      }
    }
  }
}

.container {
  padding-top: 10rem !important;
  padding-bottom: 20rem !important;
  @media (width < 1024px) {
    padding-top: 8rem !important;
    padding-bottom: 10rem !important;
  }
}

.wrapper {
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
  padding: 0 2rem;
}

// footer
.footer {
  width: 100%;
  background: $primary1;
  color: $white;
  .footer-top {
    padding-top: 10rem ;padding-bottom: 10rem;
    .footer-top-inner {
      display: flex;
      gap: 1.4rem;
      @media (width < 768px) {
        display: block;
      }
      .work-info {
        display: flex;
        flex: 1;
        justify-content: space-around;
        .m-work {
          display: none;
        }
        @media (width < 1024px) {
          display: block;
          text-align: center;
          .pc-work {
            display: none;
          }
          .m-work {
            display: block;
          }
        }
        @media (width < 480px) {
          display: block;
          text-align: center;
          li.none{
            display: none;
          }
        }

      }
      .footer-item {
        & b {
          font-size: 1.6rem;
          font-weight: $fontBold;
          margin-bottom: 1rem;
        }
        & li {
          font-size: 1.6rem;
          font-weight: $fontRegular;
        }
      }

      & .social {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        justify-content: space-between;

        img {
          max-width: 10.5rem;
        }
        p {
          word-wrap: break-word;
        }
        @media (width < 768px) {
          align-items: center;
          margin-bottom: 4rem;
        }
      }

      .work-hours {
        b {
          margin-bottom: 1.2rem;
          display: block;
        }

        ul {
          margin: 0;
          &.pc-work {
            @media (width < 1024px) {
              display: none;
            }
          }
          &.m-work {
            display: none;
            @media (width < 1024px) {
              display: block;
            }
          }
        }

        li:not(:last-child) {
          margin-bottom: 1.2rem;
        }
      }

      .social-ico {
        display: flex;
        gap: 1rem;
        a {
          width: 3.8rem;
          height: 3.8rem;
          border-radius: 0.5rem;
          &:nth-child(1) {
            background: url(./../images/ico-instar.svg) no-repeat;
          }
          &:nth-child(2) {
            background: url(./../images/ico-twitter.svg) no-repeat;
          }
          &:nth-child(3) {
            background: url(./../images/ico-facebook.svg) no-repeat;
          }
        }
      }
      .contact-info {
        
        @media (width < 1024px) {
          margin-top: 2rem;
        }
        b {
          margin-bottom: 1.2rem;
          display: block;
        }

        ul {
          margin: 0;
          position: relative;
          .work-phone a{
            color: #fff;
          }
          .work-phone a,
          .work-addr span {
            padding-left: 2.7rem;
            position: relative;
            @media (width < 1024px) {
              padding: 0;
            }
          }
        
          .work-phone,
          .work-addr {
            position: relative;
          }
          .work-phone a:last-child a::before{
            content: none;
          }

          .work-phone a:first-child:before {
            content: "";
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            background: url(./../images/ico-phone.svg) no-repeat center center;
            position: absolute;
            top: 0.3rem;
            left: 0;
          }
          .work-addr span:first-child:before {
            content: "";
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            background: url(./../images/ico-addr.svg) no-repeat center center;
            margin-right: 1rem;
            position: absolute;
            top: 0.3rem;
            left: 0;
          }
          @media (width < 1024px) {
            .work-phone a:first-child:before,
            .work-addr span:first-child:before {
              left: -2.5rem;
            }
          }
        }

        li:not(:last-child) {
          margin-bottom: 2.5rem;
        }
        li:nth-child(2) {
          margin-left: 2.7rem;
          @media (max-width:767px) {
            margin-left: 0;
          }
        }
      }

      .our-location {
        .footer-map{
            margin-top: 1.2rem;
          }
        @media (max-width:767px) {
          margin-top: 2rem;
          text-align: center;
          }
        .footer-map {
          iframe {
            width: 100%;
            max-width: 30rem;
            height: 17rem;
          }
        }
        b {
          margin-bottom: 1.2rem;
        }
      }
    }
    @media (width < 768px) {
      padding: 6rem 0;
    }
  }
  .footer-bottom {
    text-align: center;
    background-color: #1c1e74;
    padding: 1rem 0;
  }
}

// 인풋 검색
// .input-wrap {
//   position: relative;
//   input[type="search"] {
//     padding: 1.8rem 4.8rem 1.8rem 1.4rem;
//     width: 100%;
//     font-size: 2rem;
//     border: 0.2rem solid $border1;
//     border-radius: 0.5rem;
//     outline: 0;
//     box-sizing: border-box;
//     &:focus {
//       border: 0.2rem solid $primary1;
//     }
//   }

//   .btn-search {
//     position: absolute;
//     top: 50%;
//     right: 1.2rem;
//     width: 2.4rem;
//     aspect-ratio: 1;
//     background: url(./../images/ico_search_primary.svg) no-repeat center/cover;
//     transform: translateY(-50%);
//   }
// }

// sub
.sub-top {
  margin: 16rem 0 14rem;
  text-align: center;
  .sub-title {
    font-family: $fontCata;
    font-size: 7.2rem;
    font-weight: $fontSemiBold;
    line-height: 8rem;
    color: $text2;
  }
  .sub-description {
    display: inline-block;
    width: 100%;
    max-width: 60rem;
    font-size: 2rem;
    line-height: 3.2rem;
    margin: 0.8rem 0;
  }
  @media (width < 1024px) {
    margin: 6rem 0;
  }
  @media (width < 768px) {
    .sub-title {
      font-size: 4.8rem;
      line-height: 6rem;
    }
    .sub-description {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }
}

.section-title-area {
  text-align: center;
  .section-title {
    font-family: $fontCata;
    font-size: 5.2rem;
    font-weight: $fontSemiBold;
    line-height: 7rem;
    color: $text2;
  }

  .section-sub-title {
    font-size: 1.4rem;
    font-weight: $fontSemiBold;
    line-height: 2rem;
    color: $text4;
    text-transform: uppercase;
    letter-spacing: 0.17rem;
  }

  .section-description {
    font-size: 2rem;
    line-height: 3rem;
  }

  @media (width < 768px) {
    .section-title {
      margin-top: 1.8rem;
      font-size: 4.2rem;
      line-height: 5rem;
    }
    .section-description {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
  }
}

.news {
  width: 100%;
  .news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.4rem 2.4rem;
    margin-top: 5rem;
    li {
      min-width: 33.33%;
      .news-thumb {
        overflow: hidden;
        border-radius: 0.4rem;
        img {
          display: block;
          width: 100%;
        }
      }
      .news-info {
        margin-top: 2.8rem;
        .news-date {
          font-size: 1.4rem;
          font-weight: $fontSemiBold;
          line-height: 1.8rem;
          color: $text4;
          letter-spacing: 0.17rem;
        }
        .news-title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: break-all;
          margin: 0.4rem 0 0.8rem;
          font-family: $fontCata;
          font-size: 2.7rem;
          font-weight: $fontSemiBold;
          line-height: 4.5rem;
          color: $text2;
        }
        .news-description {
          font-size: 1.6rem;
          line-height: 2.5rem;
          margin-bottom: 2.4rem;
        }
      }
    }
  }
  @media (width < 1024px) {
    .news-list {
      grid-template-columns: repeat(2, 1fr);
      li {
        min-width: 50%;
      }
    }
  }
  @media (width < 768px) {
    .news-list {
      grid-template-columns: 1fr;
    }
  }
}

.btn-readmore {
  height: 3.6rem;
  padding-right: 4.8rem;
  background: url(./../images/ico_more.svg) no-repeat right/contain;
  font-size: 1.2rem;
  font-weight: $fontSemiBold;
  color: $text2;
  letter-spacing: 0.24rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  transition: 0.4s;
  &:hover {
    padding-right: 5.6rem;
  }
}

.chat-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1.5rem 2rem;
  background-color: #EE2852;
  color: white;
  border: none;
  border-radius: 5rem;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.chat-button::before {
  content: "";
  display: inline-block;
  background: url(./../images/ico-chat.svg) no-repeat center center;
  background-size: contain;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.8rem;
}

@media (max-width: 767px) {
  .chat-button {
    font-size: 0;
    padding: 1.5rem;
  }

  .chat-button::before {
    margin: 0;
  }
}
.chat-button:hover {
  // background-color: #0056cc;
}