@use "../helpers" as *;
// 보영

.container.home {
  //reviews
  .section-reveiws {
    .reviews {
      justify-content: center;
      text-align: center;
      margin-bottom: 10rem;

      .reviews-title {
        color: $text2;
        font-family: $fontCata;
        font-size: 5.2rem;
        font-weight: $fontSemiBold;
        line-height: 6rem;
      }
      .reviews-description {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }

  //swiper
  .swiper-area {
    position: relative;
    margin-bottom: 20rem;
    .swiper.peopleSwiper {
      max-width: 1200px;
      margin: 0 auto;
      .swiper-wrapper {
        margin-bottom: 8rem;
        .home-review-card {
          text-align: center;
          padding: 0 2rem;
          .home-review-image {
            img {
              width: 100px;
            }
          }

          h3 {
            font-size: 2.5rem;
            font-weight: 600;
            color: $primary1;
            padding: 20px 0;
            font-family: $fontCata;
          }

          p {
            font-size: 1.3rem;
            padding-bottom: 1.3rem;
          }

          span {
            font-family: $fontOpen;
            font-size: 1.2rem;
            font-weight: 600;
            color: #f4572e;
            letter-spacing: 0.17rem;
          }
        }
      }
    }

    .swiper-button-prev {
      position: absolute;
      left: -2%;
    }

    .swiper-button-next {
      position: absolute;
      right: -2%;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 1.5rem;
      font-weight: 800;
      color: $primary1;
    }
    .swiper-pagination-bullets {
      .swiper-pagination-bullet-active {
        background: $primary1 !important;
        transform: scale(1.4);
      }
      .swiper-pagination-bullet {
        background: $white;
        border: 0.1rem solid $primary1;
        opacity: 1;
        margin-inline: 1rem;
      }
    }

    @media (width < 1024px) {
      margin-bottom: 12rem;
    }
    @media (width < 768px) {
      margin-bottom: 10rem;
    }
  }

  //banner
  .section-banner {
    background-color: $primary1;
    color: $white;
    max-width: 1920px;
    padding: 5rem 0;
    margin-bottom: 20rem;

    .banner-area {
      display: flex;
      max-width: 124rem;
      margin: 0 auto;
      padding: 0 2rem;
      justify-content: space-between;

      .banner-text {
        h2 {
          font-size: 2rem;
        }

        span {
          color: $text4;
          font-weight: $fontSemiBold;
        }

        .btn-white {
          letter-spacing: 0.24rem;
          text-transform: uppercase;
          margin-left: 1.6rem;
        }
      }
      @media (width<768px) {
        flex-direction: column;
        p {
          margin-bottom: 2rem;
        }
      }
    }
    @media (width < 1024px) {
      margin-bottom: 12rem;
    }
    @media (width < 768px) {
      margin-bottom: 10rem;
    }
  }

  //specialists
  .section-specialists {
    .specialists-services {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      max-width: 1200px;
      margin: 0 auto;
      margin-bottom: 3rem;
      .specialists-services-item {
        color: $primary1;
        text-align: center;
        border-bottom: 2px solid $border1;
        margin-bottom: 2rem;

        h3 {
          margin-bottom: 1rem;
          font-weight: 600;
          font-size: 1.6rem;
        }

        &:hover {
          border-bottom-color: $secondary1;
        }
      }
      @media (max-width: 1023px) {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 5rem;
      }
      @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 0rem;
      }
    }
    .specialists-content {
      display: flex;
      gap: 40px;
      margin: 0 auto;
      align-items: center;
      margin-bottom: 20rem;

      .specialists-content-text {
        h2 {
          color: $text2;
          font-family: $fontCata;
          font-size: 4.2rem;
          font-weight: $fontSemiBold;
          line-height: 4.7rem;
          margin-bottom: 0.8rem;
        }
        h3 {
          font-family: $fontCata;
          font-size: 2.3rem;
          font-weight: 200;
          line-height: 3.2rem;
          margin-bottom: 1.2rem;
        }
        p {
          font-size: 1.6rem;
          line-height: 2.5rem;
        }
        @media (width < 1024px) {
          margin-bottom: 3rem;
        }
      }

      .specialists-content-image {
        img {
          max-width: 100%;
          border-radius: 8px;
        }
      }
      @media (width< 1024px) {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        padding: 0 10rem 10rem 10rem;
      }

      @media (width< 768px) {
        padding: 6rem 2.5rem;
        flex-direction: column;
        margin-bottom: 4rem;
      }
    }
  }
  //experts
  .section-experts {
    text-align: center;
    justify-content: center;
    margin-bottom: 20rem;

    .experts-top {
      text-align: center;
      margin-bottom: 10rem;

      .experts-practice {
        color: $text3;
        font-size: 1.4rem;
        font-weight: $fontSemiBold;
        line-height: 2.5rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
      }
      .experts-title {
        color: $text2;
        font-family: $fontCata;
        font-size: 5.2rem;
        font-weight: $fontSemiBold;
        line-height: 6rem;
      }
      .experts-description {
        font-size: 2rem;
        line-height: 3rem;
      }
    }

    .experts-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5rem;
      margin: 0px auto;

      .experts-grid-member {
        position: relative;
        justify-content: center;
        .share-experts {
          width: 100%;
        }
      }

      .experts-info {
        margin-top: 15px;

        h4 {
          color: $primary1;
          font-family: $fontCata;
          font-size: 2.5rem;
          font-weight: 600;
          padding: 0 0 0 2rem;
        }

        p {
          color: $text3;
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 2.5rem;
          letter-spacing: 0.17rem;
          text-transform: uppercase;
          margin-bottom: 0.4rem;
          padding: 0 0 0 2.3rem;
        }
      }

      @media (width< 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (width< 1024px) {
      margin-bottom: 10rem;
    }
  }

  //request
  .request-form {
    display: flex;
    .request-img {
      width: 50%;
      position: relative;
      overflow: hidden;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        /* left: 0; */
        right: -60px;
        bottom: 0;
        width: 10rem;
        height: 121%;
        background: #eef7ff;
        -webkit-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
        transform: rotate(6deg);
        overflow: hidden;
      }
      @media (width< 1024px) {
        &::before {
          content: none;
        }

        img {
          width: 100%; /* 이미지가 부모 요소에 꽉 차게 하기 */
          height: auto; /* 비율 유지 */
        }
      }
      @media (width < 1024px) {
        width: 100%;
      }
    }

    .request-right {
      width: 50%;
      background: #eef7ff;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (width < 1024px) {
        width: 100%;
        padding: 0 1rem;
      }

      .request-right-wrap {
        padding: 5rem 0 16rem 0;
        @media (width < 1024px) {
          max-width: 80rem;
          width: 100%;
        }
      }
      h2 {
        color: $primary1;
        font-family: "Catamaran", sans-serif;
        font-size: 4.2rem;
        font-weight: 600;
        line-height: 4.7rem;
        margin-bottom: 0.8rem;
      }
      p {
        font-size: 2rem;
        color: $text5;
        margin-bottom: 3.5rem;
      }
      form {
        .request-ipt {
          margin-bottom: 3rem;
          @media (width < 1024px) {
            margin-bottom: 0;
          }
        }
        input {
          padding: 1.5rem 2.2rem;
          border: 2px solid #bfd9ff;
          border-radius: 5px;
          box-sizing: border-box;
          @media (width < 1024px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 3rem;
          }
        }
        textarea {
          resize: none;
          border: 2px solid #bfd9ff;
          border-radius: 5px;
          width: 100%;
          box-sizing: border-box;
          padding: 1.5rem 2.2rem;
          margin-bottom: 3rem;
        }
        input:first-child {
          margin-right: 3.5rem;
          @media (width < 1024px) {
            margin-right: 0;
          }
        }
        .request-form-btn {
          text-align: center;
          padding: 1.5rem 0;
          background: $primary1;
          border-radius: 5px;
          width: 100%;
          max-width: 21.5rem;
          color: $white;
        }
      }
    }
    @media (width < 1024px) {
      flex-direction: column;
    }
  }
}
